Package: com.insanj.darkness
Name: Darkness
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Conflicts: com.insanj.darkphotos
Version: 0.1
Architecture: iphoneos-arm
Description: Dark, beautiful apps.
Maintainer: insanj <me@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks